{% extends "base.html" %}

{% block title %}Agenda - Clínica Ortomolecular{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Agenda</h1>
                <a href="{{ url_for('appointment_new') }}" class="btn btn-primary">
                    <i class="fas fa-plus me-1"></i>Nova Consulta
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}
