{% extends "base.html" %}

{% block title %}Erro interno - Clínica Ortomolecular{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>500 - Erro interno do servidor</h2>
                <div class="error-details">
                    Ocorreu um erro interno. Por favor, tente novamente mais tarde.
                </div>
                <div class="error-actions mt-4">
                    <a href="{{ url_for('dashboard') }}" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Voltar ao Início
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}